/* Styles for Bingo Button */
#bingoButton {
    position: fixed; /* Fixed positioning to place it relative to the viewport */
    top: 50%; /* Center vertically */
    right: 20px; /* Position 20px from the right edge */
    transform: translateY(-50%); /* Adjust to truly center vertically */
    background-color: #007BFF;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    
}

#bingoButton:hover {
    background-color: #0056b3;
}
